<div style="width: 100%;display: inline-block;margin-bottom: 5px;">
  <div class="rounded-corners article-name">
    <b><a href="<%= article_path article %>" style="margin-left: 5px;"><%= article.title %></a></b>
  </div>
</div>

<div class="article-content">
  <%= wrap article.content.gsub("\r\n", "<br />").html_safe.to_s %><!-- .gsub("\s", "&nbsp;") -->
</div>
<div style="margin-bottom: 5px;text-align: right;">
  <%= render :partial => 'articles/article_maintenance', :locals => {:article => article} %>
</div>
