<table>
  <tr>
    <td style='vertical-align:top;'>
      <div class="main-content">
        <%= render @articles %>
      </div>
    </td>
    <td width='12px;'></td>
    <td style='vertical-align:top;'>
      <div class="side-bar">
        <div class="side-content">
          <%= render 'common/article_button' %>
        </div>
        <div class="side-content" style="margin-top: 5px;">
          <%= render 'common/article_latest' %>
        </div>
        <div class="side-content" style="margin-top: 5px;">
          <%= render 'common/article_hotest' %>
        </div>
      </div>
    </td>
  </tr>
</table>
