.footer{style: "text-align:center;"}
  %div{style: "display: inline-block;vertical-align: top;"}
    = link_to "关于我们", "/about", target: "_blank"
    |
    = link_to "联系反馈", "/connect", target: "_blank"
    |
    = link_to "新浪微博", "javascript:void(0)", target: "_blank"
    Copyright © 2012



